
<section id="intro">
  <div class="row">
    <div class="intro-text col-md-6">

      <div class="d-flex align-items-center">
        <img src="assets/imagen/logo.png" class="img-fluid" alt="" width="650">
      </div>
    </div>
    <div class="intro-textOne col-md-6">
      <div class="inicio-session p-4">
          <div class="col-md-12">
            <h4>Editar Datos</h4>
          </div>
          <div class="col-md-12">
            <label class="form-label">Nombre</label>
            <input
              type="email"
              class="form-control"
              formControlName="par_nombre"
              autocomplete="off"
              name="nombre"
            >

          </div>
          <div class="col-md-12">
            <label class="form-label">Nickname</label>
            <input
              type="email"
              class="form-control"
              formControlName="par_nickname"
              autocomplete="off"
            >

          </div>
          <div class="col-md-12">
            <label class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              formControlName="par_email"
              autocomplete="off"
            >

          </div>
          <div class="col-md-12 pt-4">
            <button type="submit" [disabled]="formLogin.invalid" class="btn btn-outline-light btn-block btn-lg" >Editar Usuario</button>
          </div>
          <div *ngIf="errorSession" style="min-height: 120px;" class="fixed-top">
            <div  class="collapse-horizontal alert-primary" >
              <div class="card card-body alert-dark" style="width: 300px;">
                <button type="button" class="btn-close btn-close-dark" aria-label="Close" (click)="cerrar()"></button>
                <ul class="list-group">
                  <li *ngFor="let item of errores" class="list-group-item">{{item.msg}}</li>
                </ul>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
